#artist-template{
    height: 60vh;
    width: 100%vw;
    display: flex;
    background-color: var(--bg-color6);
}

#artist-image{
    height: 100%;
    width: 40%;
    background-image: linear-gradient(to bottom, rgba(13, 0, 101, 0) 10%, rgba(13, 0, 101, 1)), url(Images/iron-man.jpg);
    background-size: cover;
    background-position: center;  
    background-repeat: no-repeat; 
}

#artist-details{
    height: 100%;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
}

#artist-info{
    height: 20%;
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 50% 50%;
}

#artist-title{
    font-size: 1.5rem;
}

.artist-type{
    font-weight: 600;
    margin-top: 0px;
}

#artist-intro{
    font-weight: lighter;
    color: whitesmoke;
}

#artist-buttons{
	height: auto;
	width: 55%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 10%;
}

#playall-button{
	height: 2rem;
	width: 9rem;
	background-image: linear-gradient(to left, var(--bg-color3) 10%, var(--bg-color2) 30%, var(--bg-color4) );
	color: white;
    text-align: center;
    font-weight: bold;
    font-family: helvetia, sans-serif;
    border-radius: 0.3rem;
}

#follow-button{
	font-family: helvetica, sans-serif;
}

#tracks{
	font-family: helvetica, sans-serif;
	font-size: 0.8rem;
	margin-top: 0.5rem;
}

.song{
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem; 
    background-color: var(--bg-color5);
}

.song-info{
    height: 100%;
    width: fit-content;
    display: flex;
    justify-content: space-between;
}

.song-info > * {
    margin-left: 0.8rem;
}

.song-name{
    font-size: 1.2rem;
    font-weight: bold;
}

.artist-name{
    color: var(--font-color3);
}

.song-number{
    display: inline-block;
    align-self: center;
}

.song-img{
    height: 100px;
    width: 100px;
}

.song-img img{
    width: 100px;
    height: 100%;
}

.song-details{
    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.song-details span{
    display: inline-block;
    margin-bottom: 8px;
}

.icons{
    height: 100%;
    width: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5px;
}

.icon{
    width: 30px;
}

.queue{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
}


.qHead{
    display: flex;
    justify-content: space-between;
}

.q-header-title{
    font-size: 1.5rem;
    font-weight: bold;
}

.qContent{
    height: 70%;
    overflow-x : hidden; 
    overflow-y: scroll;
    scrollbar-width: none;
}
.q-artist-img{
    height: 100%;
    width: 80px;
}

.q-artist-img img{
    height: 100%;
    width: 80px;
}

.queue-item-first-section{
    display: flex;
    height: 100%;
    width: fit-content;
    justify-content: space-between;
}

.q-item-detail{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    margin-left: 4px;
}

.q-item-detail span{
    display: inline-block;
    margin-bottom: 5px;
}

.q-detail-head{
    font-size: 0.8rem;
    font-weight: bold;
}

.q-detail-tail{
    font-size: 0.7rem;
    color: var(--font-color3);
}

.fav-heart-symbol{
    margin-left: auto;
    margin-right: 5px;
}

@media screen and (max-width: 780px) {
    #artist-info{
        font-size: small; 
    }

    #artist-title{
        font-size: medium;
    }

    #artist-type{
        font-size: small; 
    }

    #artist-intro{
        font-size: small; 
    }

    .q-header-title{
        font-size: 1rem;
    }
}
